@model IEnumerable<PizzaBox.Web.Models.User>

@{
    ViewData["Title"] = "Index";
    int num = 1;

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create User</a>
</p>
<p>
    <a asp-action="Login">Login User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @num
                    @{num++;}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @*<a href="/contact/Index" >Index</a>|*@
                    <a asp-action="Edit" asp-route-id=@item.Username class="btn-dark">Edit</a>|
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    <a asp-action="Details" asp-controller="Contact" asp-route-id=@item.Username class="btn-dark">Details</a>|
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <a asp-action="Delete" asp-controller="Contact" asp-route-id=@item.Username class="btn-dark">Delete</a>
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>}
    </tbody>
</table>
@*@Section("Scripts"){
    <script src="=">  </script>
    }*@