@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-1">It's Pizza Time!</h1>

    <form action="User/Login">
        <input type="submit" value="Login" />
    </form>
    <form action="User/Create">
        <input type="submit" value="Register"/>
    </form>
    <p>Learn about <a href="https://www.pizzahut.com/">where you can eat delicious food</a>.</p>
</div>
<!--<button type="button" onclick="alert('Login is not available')">Login</button> -->