@model IEnumerable<PizzaBox.Web.Models.User>
@{
    ViewData["Title"] = "Main Menu";
}
<p>Welcome, @Html.DisplayNameFor(model => model.Username)</p>
<div class="text-center">
    <h1 class="display-4">Main Menu</h1>

    <form action="User/Login">
        <input type="submit" value="Place Order" />
    </form>
    <form action="User/Create">
        <input type="submit" value="View Order History" />
    </form>
    <form action="https://localhost:44313/">
        <input type="submit" value="Logout" />
    </form>
</div>